[submodule "Genomic-Interactive-Visualization-Engine"]
	path = Genomic-Interactive-Visualization-Engine
	url = https://github.com/Zhong-Lab-UCSD/Genomic-Interactive-Visualization-Engine
[submodule "GIVE-Toolbox"]
	path = GIVE-Toolbox
	url = https://github.com/Zhong-Lab-UCSD/GIVE-Toolbox.git
